/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 427px) {
	/* For mobile phones: */
	[class*="col-"] {
		width: 100%;
	}
}

.form-group {
	height: 1.5rem;
	margin-bottom: 1rem;
	padding-bottom: 1.5rem;
}
.form-label {
	padding-top: calc(.375rem + 1px);
	padding-bottom: calc(.375rem + 1px);
}
.form-control {
	height: 100%;
	border: 1px solid #ced4da;
    border-radius: .25rem;
}
